*{
    margin: 0;
    padding: 0;
}
body,h1,h2,h3,h4,h5{
    font-family: 'Work Sans', sans-serif;
}

img{
    max-width: 100%;
}

/* Header-Section Start */
.container{
    max-width: 100%;
    background-color: #3393DD;
    text-align: center;
}
.header{
    width: 850px;
    margin: auto;
}
.header{}
.header ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: white;
    padding: 2px 0px 0px 1px;
}
.header ul li{
    border-style: none;
    padding: 10px;
}
.header ul li p{
    border-left: 1px solid white;
    padding: 13px;
    font-size: 17px;
    line-height: 1px;
}

/* Lifestyle image */
.image-div{
    width: 850px;
    margin: auto;
    position: relative;
}
.image-div img{
    width: 417px;
    position: absolute;
    top: -15px;
    left: 10px;
}

/* Outlook Div */
.outlook-div{
    background-color: #0078D4;
    margin-top: -16px;
}
    
.outlook{
    display: flex;
    justify-content: flex-end;
    width: 850px;
    height: auto;
    margin: auto;
}
.outlook h1{
    width: 400px;
    font-size: 50px;
    font-weight: 300;
    padding: 30px 0px;
    color: white;
    line-height: 62px;
}

/* download-link */
.download-link{
    display: flex;
    justify-content: flex-end;
    width: 850px;
    margin: auto;
    text-align: left;
    border-bottom: 2px solid #ddd;
    margin-bottom: 50px;
}
form{
    width: 400px;
    
}
form h4{
    font-size: 21px;
    font-weight: 300;
    padding: 20px 0px 15px 0px;
}
form .number{
    width: 235px;
    padding: 14px 31px;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 20%);
    margin-right: 5px;
    outline: none;
}
form .button{
    padding: 14px;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 5px rgb(0,0,0, 0.2);
    background-color: #006fc3;
    color: white;
    outline: none;
}
.download-link p{
    font-size: 10px;
    margin: 20px 0px;
    padding: 0px;
}
form h3{
    font-size: 22px;
    font-weight: 300;
    padding: 5px 0px 8px 0px;
}
form h5{
    font-size: 18px;
    font-weight: 300;
    padding: 0px 0px 12px 0px;
}

/* qr-code-section */
.qr-code-section{
    display: flex;
    justify-content: center;
    width: 400px;
}

.qr-code-section .inner-div{
    padding: 60px;
    margin: 120px 0px;
    border-radius: 100%;
    /* border: 1px solid green; */
    box-shadow: 1px 5px 9px rgb(0 0 0 / 30%);
} 

.outlook-img{
    margin-bottom: 50px;
}

/* apps-store */
.apps-store{
    width: 850px;
    margin: auto;
}
.apps-store ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.apps-store ul li {
    margin-left: 10px;
}

/* footer-section */
.footer{
    max-width: 100%;
    background-color: black;
    padding: 40px 0px 140px 0px;
}
.footer-section{
    width: 850px;
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.copyright ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.copyright ul li{

margin-left: 21px;
}
.copyright ul li a{
    text-decoration: none;
    color: white;
    font-size: 11px;
}
